SPOTIPY_CLIENT_ID=client_id[optional]
SPOTIPY_CLIENT_SECRET=client_secret[optional]
lyricsgenius_key=genius_key[optional]
flask_port=port flask runs on [defaults to 5000]
SPOTIPY_REDIRECT_URI=spotify app redirect link [most common: 'https://open.spotify.com/?']
username=my spotify username
static_cover_name=the cover image to be used as fallback. [defaults to:single-cover(mdesigns).jpg]

