<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spots</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <div class="container" id="content">
        <div class="title">
            <h1>Welcome to Spots</h1>
            <h2>Convert YouTube or Spotify urls to mp3, or just search for any song or artist name!</h2>
        </div>

        <form onsubmit="handleSubmit(event)" id="queryData">
            <div>
                <!-- Radio buttons for download and search -->
                <label>
                    <input required type="radio" name="action" value="download"> Download
                </label>
                <label>
                    <input required type="radio" name="action" value="search"> Search
                </label>
                <label>
                    <input required type="radio" name="action" value="artist"> Artist
                </label>
            </div>

            <br>

            <!-- Input field -->
            <input placeholder="Select action above..." type="text" id="userInput" name="user_input" required>

            <div id="feedback"></div>

            <br>

            <!-- Submit button -->
            <input type="submit" value="Submit">
        </form>
    </div>

    <script>
        validateInput();
        handleAction();

        function validateInput () {
            document.getElementById('queryData').addEventListener('change', handleAction);
        }

        function handleAction () {
            // get form
            const form = document.querySelector('form');

            // get input
            const input = form.querySelector("#userInput");

            // get feedback container
            const feedback = form.querySelector("#feedback");

            if (!form) return;

            // Get the clicked radio button using
            const clickedRadioButton = form
                .querySelector('input[name="action"]:checked');

            function updatePlaceholder (text) {
                input.removeAttribute("disabled");
                input.setAttribute("placeholder", text);
            }

            // Log the value of the clicked radio button
            if (clickedRadioButton) {
                switch (clickedRadioButton.value) {
                    case "download":
                        updatePlaceholder("Paste a YouTube or Spotify url");
                        break;

                    case "search":
                        updatePlaceholder("Enter search term as `Artist - Title`");
                        break;

                    case "artist":
                        updatePlaceholder("Enter an artist name");
                        break;

                    default:
                        break;
                }
            } else {
                input.setAttribute("placeholder", "Select action above...");
                input.setAttribute("disabled", "");
            }

        }

        function handleSubmit (e) {
            e.preventDefault();

            const radioButtons = document.getElementsByName('action');
            const userInput = document.getElementById('userInput').value;

            // Determine the selected action
            let selectedAction;
            radioButtons.forEach(button => {
                if (button.checked) {
                    selectedAction = button.value;
                }
            });

            // Construct the data object
            const formData = {
                action: selectedAction,
                user_input: userInput,
            };
            // display loading UI

            const container = document.getElementById("content");
            container.innerHTML = `<div>
                <p>Searching for ${userInput}</p>
                <img src="{{ url_for('static', filename="Magnify-1s-401px.svg")}}">
            </div>`;


            // Sending a POST request to '/handle_query' with JSON data
            fetch('/handle_query', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
                .then(response => response.text())
                .then(data => {
                    window.location.href = data;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>

</html>
