<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spots - Query [{{ resource }}]</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/query.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}" type="image/x-icon">
</head>

<body>
    <a href="/">
        <img id="navigation" src="{{ url_for('static', filename='house-svgrepo-com.svg')}}" alt="Home icon" width="50"
            height="50">
    </a>
    <button id="scroll" onclick="scrollDown()">
        <img src="{{ url_for('static', filename='arrow-down-circle-svgrepo-com.svg')}}" alt="Scroll down" width="50"
            height="50">
    </button>
    <!-- Search result -->
    {% if resource == "single" %}
    {% if not recommended_tracks %}
    <!-- download single track -->
    <div id="container" class="single">
        <div id="singleBox">
            <form id="singleData" style="display: none;">
                {% for key, value in data.items() %}
                <input name="{{ key }}" value="{{ value }}">
                {% endfor %}
            </form>
            <button onclick="handleSubmit(event, undefined, 'single')" id="singleButton" type="submit">
                <img src="{{ url_for('static', filename='download-svgrepo-com.svg') }}" width="45" height="45">
                <p>{{ data["artist"] }} - {{ data["title"] }}</p>
            </button>
        </div>
    </div>
    {% else %}
    <!-- display recommended tracks -->
    <div id="container">
        <!-- pass list of data to javascript -->
        <div id="listItems" style="display: none;">
            <label>
                <div id="track">
                    <input id="{{ data['title'] }}" type="checkbox" value='{{ data | tojson }}' checked>
                    <p>{{ data["artist"] }} - {{ data["title"] }}</p>
                    <strong>{{ size }} MB</strong>
                </div>
                <div id="audio">
                    <audio controls>
                        <source src="{{ data['preview_url'] }}" type="audio/mp3">
                    </audio>
                </div>
            </label>

            <h2>Recommended tracks</h2>
            {% for track in recommended_tracks %}
            <label>
                <div id="track">
                    <input id="{{ track[0] }}" type="checkbox" value='{{ track[1] | tojson }}'>
                    <p>{{ track[0] }}</p>
                    <strong>{{ track[2] }} MB</strong>
                </div>
                <div id="audio">
                    <audio controls>
                        <source src="{{ track[1]['preview_url'] }}" type="audio/mp3">
                    </audio>
                </div>
            </label>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% elif resource == "artist" %}
    <!-- display artist albums -->
    <div id="container" class="artist">
        <!-- pass list of data to javascript -->
        <div id="listItems" style="display: none;">
            <h2>Select albums to download:</h2>
            {% for album in albums %}
            <div class="artistAlbum">
                <div role="button" class="albumData" onclick="toggleSelectAll(this)">
                    <img src="{{ album['album']['cover'] }}" alt="Album cover image" width="200" height="200">
                    <p>{{ album['album']['name'] }}</p>
                </div>

                <div class="albumTracks">
                    {% for data in album['playlist'] %}
                    <label>
                        <div id="track">
                            <input id="{{ data[0] }}" type="checkbox" value='{{ data[1] | tojson }}' checked>
                            <p>{{ data[0] }}</p>
                            <strong>{{ data[2] }} MB</strong>
                        </div>
                        <div id="audio">
                            <audio controls>
                                <source src="{{ data[1]['preview_url'] }}" type="audio/mp3">
                            </audio>
                        </div>
                    </label>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% elif resource == "playlist" %}
    <!-- display playlist data -->
    <div id="container">
        <!-- pass list of data to javascript -->
        <div id="listItems" style="display: none;">
            <h2>Select songs to download:</h2>
            {% for data in playlist %}
            <label>
                <div id="track">
                    <input id="{{ data[0] }}" type="checkbox" value='{{ data[1] | tojson }}' checked>
                    <p>{{ data[0] }}</p>
                    <strong>{{ data[2] }} MB</strong>
                </div>
                <div id="audio">
                    {% if data[1]['preview_url'] %}
                    <audio controls>
                        <source src="{{ data[1]['preview_url'] }}" type="audio/mp3">
                    </audio>
                    {% endif %}
                </div>
            </label>
            {% endfor %}
        </div>
    </div>

    {% elif resource == "saved_tracks" %}
    <!-- display playlist data -->
    <div id="container">
        <dialog>
            <div id="removedResponse"></div>
            <form method="dialog">
                <button>OK</button>
            </form>
        </dialog>

        <!-- pass list of data to javascript -->
        <div id="listItems" style="display: none;">
            <h2>Select songs to download:</h2>
            {% for data in playlist %}
            <label>
                <div>
                    <img src="{{ data[1]['cover'] }}" alt="Cover image" width="60" height="60">
                </div>
                <div id="track">
                    <input data-id="{{ data[1]['spotify_id'] }}" id="{{ data[0] }}" type="checkbox"
                        value='{{ data[1] | tojson }}' checked>
                    <p>{{ data[0] }}</p>
                    <strong>{{ data[2] }} MB</strong>
                </div>
                <div id="audio">
                    {% if data[1]['preview_url'] %}
                    <audio controls>
                        <source src="{{ data[1]['preview_url'] }}" type="audio/mp3">
                    </audio>
                    {% endif %}
                </div>
            </label>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <script>
        const isSingle = "{{ resource }}" === "single" && "{{ recommended_tracks }}" === "[]",
            recommendedTracks = "{{ recommended_tracks }}",
            isArtist = "{{ resource }}" === "artist",
            isSavedTracks = "{{ resource }}" === "saved_tracks";

        displayCoverDataContainer();

        if (!isSingle) {
            displayPlaylistItems();
            totalSize();
            const form = document.querySelector('form');
            form.addEventListener('change', totalSize);
        }

        if (isArtist) {
            document
                .getElementById("container")
                .style
                .removeProperty("height");
            const containers = document.querySelectorAll('.artistAlbum');
            containers.forEach(container => {
                toggleActiveContainer(container);
                container.addEventListener('change', () => toggleActiveContainer(container));
            });
        }

        // functions

        function totalSize () {
            // get form
            const form = document.querySelector('form');

            // get list of checked items
            const checkedItems = Array.from(form.querySelectorAll('input[type="checkbox"]:checked'));

            let total = 0,
                totalSongs = 0;

            // get the size of each selected item
            checkedItems.forEach(item => {
                const ancestor = item.parentElement;

                // get the size element
                const size = ancestor.querySelector('strong').innerHTML.replace(" MB", "");

                total += Number(size) || 0;
                totalSongs++;
            });

            const submitButton = document.querySelector('button[type="submit"]'),
                totalSize = submitButton.querySelector('strong');

            totalSize.innerHTML = `${total} MB (${totalSongs})`;
        }

        function toggleActiveContainer (container) {
            const checkboxes = container.querySelectorAll('input[type="checkbox"]');
            if (Array.from(checkboxes).every(item => item.checked)) {
                container.style.borderColor = "#f0f0f0";
            } else {
                container.style.borderColor = "black";
            }
        }

        function handleSubmit (e, form, resourceType) {
            e.preventDefault();

            let body;

            if (!isSingle) {
                // Get all checked checkboxes
                const selectedCheckboxes = Array.from(form.querySelectorAll('input[type="checkbox"]:checked'));

                // Extract values from checked checkboxes
                const selectedSongs = selectedCheckboxes.map(checkbox => checkbox.value);

                body = JSON.stringify({
                    selected_songs: selectedSongs,
                    playlist_name: "{{ data['name'] }}"
                });
            } else {
                const container = document.getElementById("singleData");
                const formData = new FormData(container);
                body = formData;
            }

            const url = '/download/' + resourceType;
            const query = isArtist ? "?artist=true" : "";

            const postData = {
                method: 'POST',
                body,
            };

            // send json data if is playlist
            if (!isSingle) {
                postData.headers = {
                    'Content-Type': 'application/json',
                };
            }

            // display loading UI
            const artist = "{{ data['artist'] }}",
                name = "{{ data['name'] or data['title'] }}";

            const parent = document.getElementById("container");
            parent.classList.add("fetching");

            const title = artist ? `${artist} - ${name}` : name;

            const containerId = isSingle ? "singleBox" : "playlistContent";

            const container = document.getElementById(containerId);

            container.innerHTML = `<div class="loader">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                        <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
                        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
                        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
                        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
                        </rect>
                        <rect x="8" y="10" width="4" height="10" fill="#333"  opacity="0.2">
                        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                        </rect>
                        <rect x="16" y="10" width="4" height="10" fill="#333"  opacity="0.2">
                        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                        </rect>
                    </svg>
                </div>`;

            // Sending a post request to '/download/playlist' with selected_songs as form data
            fetch(url + query, postData)
                .then(response => response.text())
                .then(data => {
                    // display response
                    const container = document.getElementById(containerId);
                    container.innerHTML = `<p>${data}</p>`;
                });
        }

        function toggleSelectAll (e) {
            const container = e?.parentElement || document;

            checkboxes = container.querySelectorAll('input[type="checkbox"]');

            const selectAllButton = document.querySelector('#selectAllButton');

            const allSelected = Array.from(checkboxes).every(checkbox => checkbox.checked);

            checkboxes.forEach(checkbox => {
                checkbox.checked = !allSelected;
            });

            selectAllButton.textContent = allSelected ? 'Select all' : 'Deselect all';

            if (isArtist) {
                if (e.parentElement) {
                    toggleActiveContainer(container);
                } else {
                    document
                        .querySelectorAll('.artistAlbum')
                        .forEach(container => toggleActiveContainer(container));
                }
            }

            if (!isSingle) {
                totalSize();
            }
        }

        function displayCoverDataContainer () {
            // create cover container
            const coverContainer = document.createElement("div");
            coverContainer.id = "queryData";

            // create image
            const image = document.createElement('img');

            // set image attributes
            image.src = "{{ data['cover'] }}";
            image.alt = "Search result cover art image";
            image.width = 200;
            image.height = 200;

            // create title
            const title = document.createElement('p');

            let text;

            if (isSingle || recommendedTracks) {
                text = '{{ data["artist"] }} - {{ data["title"] }}';
            } else {
                if ('{{ data["artist"] }}') {
                    text = '{{ data["artist"] }} - {{ data["name"] }}';
                }
                else {
                    text = '{{ data["name"] }}';
                }
            }

            title.innerText = text;

            // add elements to cover container
            coverContainer.appendChild(image);
            coverContainer.appendChild(title);
            // get container to insert elements
            const container = document.getElementById('container');

            // add cover container
            const artistContainer = document.createElement("div");
            artistContainer.id = "content";
            artistContainer.appendChild(coverContainer);

            const nodeList = container.childNodes;

            // Convert NodeList to an array
            const nodeArray = Array.from(nodeList);

            // Add the new element to the front of the array
            nodeArray.unshift(artistContainer);

            // Remove existing elements from the parent
            nodeList.forEach((node) => node.parentNode.removeChild(node));

            // Add modified array back to the parent
            nodeArray.forEach((node) => container.appendChild(node));
        }

        function scrollDown () {
            document.querySelector("button[type=submit]").scrollIntoView({
                behavior: "smooth"
            });
        }

        function displayPlaylistItems () {
            // create playlist container
            const playlistContainer = document.createElement("div");
            playlistContainer.id = "playlistContent";

            // create form for playlist items
            const playlistForm = document.createElement("form");
            playlistForm.id = "playlistForm";

            playlistForm.onsubmit = () => handleSubmit(event, playlistForm, 'playlist');

            // get list of songs
            const listItems = document.getElementById("listItems");
            listItems.style = {};

            // add list to form
            playlistForm.appendChild(listItems);

            // create toggle all button
            const toggleButton = document.createElement('button');
            toggleButton.id = "selectAllButton";
            toggleButton.type = "button";
            toggleButton.onclick = toggleSelectAll;
            toggleButton.innerText = "Deselect all";

            // create submit button
            const submitButton = document.createElement('button');
            submitButton.type = "submit";

            // create download image
            const downloadImage = document.createElement('img');
            downloadImage.src = "{{ url_for('static', filename='download-svgrepo-com.svg') }}";
            downloadImage.alt = "Search result cover art image";
            downloadImage.width = 45;
            downloadImage.height = 45;

            // create download title
            const downloadTitle = document.createElement("p");

            if (recommendedTracks) {
                text = '{{ data["artist"] }} - {{ data["title"] }}';
            } else if ("{{ data[artist] }}") {
                text = '{{ data["artist"] }} - {{ data["name"] }}';
            } else {
                text = '{{ data["name"] }}';
            }

            // create delete saved tracks button
            if (isSavedTracks) {
                // create remove tracks button
                const removeTracksButton = document.createElement("button");
                removeTracksButton.type = "button";
                removeTracksButton.innerText = "Remove tracks from library";
                removeTracksButton.onclick = removeSavedTracks;

                // render button
                playlistForm.appendChild(removeTracksButton);
            }

            downloadTitle.innerText = text;

            const strong = document.createElement("strong");

            // add content to submit button
            submitButton.appendChild(downloadImage);
            submitButton.appendChild(downloadTitle);
            submitButton.appendChild(strong);

            playlistForm.appendChild(toggleButton);
            playlistForm.appendChild(submitButton);

            // add playlist container children
            playlistContainer.appendChild(playlistForm);

            // get container to insert elements
            const container = document.getElementById('content');
            container.appendChild(playlistContainer);
        }

        function removeSavedTracks () {
            // get form
            const form = document.querySelector('form');

            // get list of checked items
            const checkedItems = Array.from(form.querySelectorAll('input[type="checkbox"]:checked'));

            // get selected item's ids
            const tracks = checkedItems.map(el => [el.id, el.dataset.id]);

            const postData = {
                method: 'POST',
                body: JSON.stringify({ tracks }),
                headers: { 'Content-Type': 'application/json' },
            };

            // Sending a post request to '/user_playlist/remove' with selected_songs as form data
            fetch("/user_playlist/delete", postData)
                .then(response => response.text())
                .then(data => {
                    // display response
                    const container = document.querySelector("dialog");
                    container.setAttribute("open", true);

                    const responseContainer = document.getElementById("removedResponse");
                    responseContainer.innerHTML = data;
                });
        }
    </script>

</body>

</html>
