body {
    height: 100%;
}

* {
    margin: 0;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
    max-width: 40%;
    margin-inline: auto;
}

.container.fetching {
    padding: 1rem;
}

.playlistContainer,
.artistContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    padding: 1.5rem 1rem;
    overflow-y: auto;
}

.queryData div,
.queryData,
.albumData {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
}

.queryData div,
.queryData.single,
.artistAlbum,
.albumData {
    border: 2px solid black;
    border-radius: 10px;
}

.queryData img,
.albumData img {
    border-radius: 10px
}

#artistForm,
#playlistForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#playlist div,
#artist div,
.playlistItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#playlist.fetching {
    display: grid;
    place-content: center;
}

.playlistItems label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px 10px;
    cursor: pointer;
    text-align: center;
}

#artist .playlistItems {
    gap: 2rem;
}

.artistAlbum {
    padding: 1rem;
}

.albumData {
    align-self: center;
    margin-block: 1rem;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.albumData:hover {
    border-color: #f0f0f0;
    transform: translate(-4px, -4px)
}

button {
    background-color: #113e21;
    border-style: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 30px;
    cursor: pointer;
    color: #f0f0f0;
    letter-spacing: 3px;
}

#navigation {
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 10;
}

@media (min-width: 768px) {
    html {
        height: 100%
    }

    .playlistContainer,
    .artistContainer{
        display: block;
        padding: 0;
    }

    #playlist,
    #artist{
        position: fixed;
        right: 0;
        height: 100%;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #playlistForm,
    #artistForm{
        overflow-y: auto;
        padding: 1rem;
    }

    .playlistContent,
    .artistContent{
        width: 80%;
        height: 100%;
    }
    
    .artistAlbum {
        
    }

    h2 {
        text-align: center;
        margin-top: 1rem;
    }

    .playlistContainer .queryData,
    .artistContainer .queryData {
        position: fixed;
        left: 0;
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container.fetching {
        display: flex;
        gap: 2rem;
        text-align: center;
        flex-direction: row;
        overflow-y: auto;
        max-width: 80%;
    }

    .fetching p {
        font-size: 1.2rem;
    }
}
