html {
  height: 100%;
}

#content {
  height: 100%;
  width: 100%;
  gap: 1.5rem;
  overflow-y: auto;
}

* {
  margin: 0;
}

 body {
  margin: 0;
  overflow-y: hidden;
  height: 100%;
}

a {
  position: absolute;
  top: 5%;
  left: 5%;
}

#container,
#queryData,
.albumData,
#playlistContent,
#playlistForm,
#listItems label,
#listItems,
.albumTracks,
#content {
  display: flex;
  flex-direction: column;
}

#container {
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1.5rem;
  padding-inline: 2rem;
}

#queryData,
.albumData {
  margin-top: 1rem;
  text-align: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

#queryData {
  width: max-content;
  margin-inline: auto;
}

#queryData img {
  border-radius: 10px;
}

#queryData,
#listItems label,
.albumData,
.artistAlbum {
  border: 2px solid;
  border-radius: 10px;
  padding: 1rem;
}

#playlistContent {
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

#playlistForm {
  gap: 1.2rem;
}

#listItems {
  gap: 1rem;
}

#listItems label {
  gap: 1rem;
  align-items: center;
  border-color: black;
  cursor: pointer;
}

#listItems label:hover {
  border-color: white;
}

.albumData {
  width: max-content;
  margin: 1rem auto;
}

.albumTracks {
  gap: 1rem;
}

#track {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#track p {
  font-size: 1.3rem;
}

audio {
  border-radius: 10px;
}

button {
  background-color: #113e21;
  border-style: none;
  border-radius: 10px;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button,
#listItems label {
  transition: all ease-in-out 0.3s;
}

button:hover {
  transform: translateY(-4px)
}
  
h2 {
    text-align: center;
}

@media (min-width: 768px) {
  #content {
    flex-direction: row;
    overflow-y: hidden;
    justify-content: space-around;
  }
  
  #queryData img {
    width: 250px;
    height: 250px;
  }
  
  #queryData {
    margin-block: auto;
    height: max-content;
  }
  
  #playlistContent {
    height: 100%;
    margin-bottom: 0;
    padding-inline: 10px;
    overflow-y: auto;
  }
}